<form [formGroup]="grupo" (ngSubmit)="envioDatos()">
    <label for="nombre">Nombre</label>
    <input id="nombre" type="text" formControlName="nombre" required>
  
    <label for="correo">Correo</label>
    <input id="correo" type="email" formControlName="correo" required>
  
    <label for="password">Password</label>
    <input id="password" type="password" formControlName="password" required>
  
    <label for="tipo">Tipo de Usuario</label>
    <select id="tipo" formControlName="tipo" required>
      <option value="usuario">Usuario</option>
      <option value="administrativo">Administrativo</option>
    </select>
  
    <button type="submit">Registrar</button>
  </form>
  